html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex-grow: 1;
  background-color: #000;
  color: #fff;
  padding: 0;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff6;
  /*text-align: center;*/
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICAgIHdpZHRoPSIxMjMuMDVweCIgaGVpZ2h0PSIxMjMuMDVweCIgdmlld0JveD0iMCAwIDEyMy4wNSAxMjMuMDUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEyMy4wNSAxMjMuMDU7IgogICAgIHhtbDpzcGFjZT0icHJlc2VydmUiPgoKCTxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xMjEuMzI1LDEwLjkyNWwtOC41LTguMzk5Yy0yLjMtMi4zLTYuMS0yLjMtOC41LDBsLTQyLjQsNDIuMzk5TDE4LjcyNiwxLjcyNmMtMi4zMDEtMi4zMDEtNi4xMDEtMi4zMDEtOC41LDBsLTguNSw4LjUKCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQKCQljMi4zLDIuMyw2LjEsMi4zLDguNSwwbDguNS04LjVjMi4zLTIuMywyLjMtNi4xLDAtOC41bC00Mi41LTQyLjRsNDIuNC00Mi4zOTlDMTIzLjYyNSwxNy4xMjUsMTIzLjYyNSwxMy4zMjUsMTIxLjMyNSwxMC45MjV6Ii8+Cgo8L3N2Zz4=);
  background-size: 10px 10px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff28;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 110, 0);
  border-radius: 10px;
  min-height: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 126, 0);
}

.yt-icon-btn {
  opacity: 0.7;
}

.yt-icon-btn:hover {
  opacity: 1;
}

.center {
  text-align: center;
}

.opaque {
  opacity: 0.5;
}

.section {
  margin: 0;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.save-btn {
  display: inline-flex;
  cursor: pointer;
  padding: 3px 0;
  background: green;
  margin-left: 8px;
  color: #fff;
  width: 70px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  height: 30px;
  opacity: 0.7;
  flex-shrink: 0;
  flex-grow: 0;
  transition: opacity 0.2s;
}

.save-btn:hover {
  opacity: 1;
}

.save-btn.active {
  /*background: #00ff00;*/
  /*opacity: 1;*/
  color: #000;
  background: darkorange;
}

.rank {
  margin-right: 12px;
  color: #fff4;
}

.author {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  white-space: nowrap;
  min-width: 270px;
}

.tags {
  flex-grow: 1;
}

.tag {
  color: #fff6;
  border-radius: 6px;
  display: inline-block;
  padding: 0 6px;
  background: #fff0;
  white-space: nowrap;
  margin: 4px;
}

.hide-tag-btn {
  cursor: pointer;
  margin-left: 5px;
  margin-right: -5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid #fff2;*/
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.hide-tag-btn:hover {
  background: #fff3;
}

.tab {
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 17px;
  font-weight: 600;
  color: #00c700;
  opacity: 0.8;
}
.tab.active {
  border-bottom: 2px solid #00c700;
  color: #00c700;
  opacity: 1;
}

.filters {
  color: #fff8;
  padding: 16px 0;
  background: #2c2c2c;
  min-height: 52px;
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
  border-right: 2px solid #000;
}

.filters-group {
  padding: 16px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.decade {
  border-radius: 8px;
  background: none;
  margin: 4px;
  width: 60px;
  text-align: center;
  padding: 4px;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  color: #f666;
  transition: background-color 0.2s, color 0.2s;
}

.decade.active {
  color: #fff;
  background: #1a551a;
}

.decade.active:hover {
  background: #1e621e;
}

.filter-tag {
  background: #1a551a;
  color: #fff;
  padding: 2px 6px;
}

.search-input {
  width: 100%;
  background: none;
  outline: none;
  padding: 4px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff6;
  max-width: 200px;
}

.search-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px;
  background: #fff1;
}

.search-item {
  width: 100%;
  cursor: pointer;
  padding: 5px 8px;
  text-align: left;
  transition: background-color 0.2s;
}

.search-item:hover {
  background: #fff1;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #2228;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  min-width: 250px;
  max-width: 480px;
  padding: 28px;
  background: #333;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 8px 8px 24px #2228;
  border: 2px solid #004600;
}

.start-btn-wrap {
  padding-top: 24px;
  text-align: center;
}

.start-btn {
  background: #008600;
  color: #fff;
  padding: 8px 24px;
  display: inline-block;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.start-btn:hover {
  opacity: 1;
}

.player-wrap {
  background: #181818;
  border-left: 2px solid #000;
}

.player {
  width: 100%;
}

.player-iframe {
  width: 100%;
}

.playlist-item {
  display: flex;
  padding: 6px 16px;
  gap: 8px;
  border-bottom: 2px solid #000;
  align-items: center;
  cursor: pointer;
  background: #fff2;
  transition: background-color 0.2s;
}

.playlist-item.active {
  background: #133f13;
}

.playlist-item:not(.active):hover {
  background: #ffffff2a;
}