html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex-grow: 1;
  background-color: #000;
  color: #fff;
  padding: 0;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.opaque {
  opacity: 0.5;
}

.section {
  margin: 0;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.save-btn {
  display: inline-flex;
  cursor: pointer;
  padding: 3px 0;
  background: green;
  margin-left: 8px;
  color: #fff;
  width: 70px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  height: 30px;
  opacity: 0.7;
  flex-shrink: 0;
  flex-grow: 0;
  transition: opacity 0.3s;
}

.save-btn:hover {
  opacity: 1;
}

.save-btn.active {
  /*background: #00ff00;*/
  /*opacity: 1;*/
  color: #000;
  background: darkorange;
}

.rank {
  margin-right: 12px;
  color: green;
}

.author {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  white-space: nowrap;
  min-width: 270px;
}

.tags {
  flex-grow: 1;
}

.tag {
  color: #fffa;
  border-radius: 6px;
  display: inline-block;
  padding: 4px 8px;
  background: #fff2;
  white-space: nowrap;
  margin: 4px;
}

.hide-tag-btn {
  cursor: pointer;
  margin-left: 7px;
  margin-right: -5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*background: #fff1;*/
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.hide-tag-btn:hover {
  background: #fff2;
}

.tab {
  display: inline-block;
  padding: 6px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 700;
  color: #8c9;
  opacity: 0.8;
}
.tab.active {
  border-bottom: 3px solid #8c9;
}

.filters {
  color: #fff8;
  padding: 0 32px;
  background: #fff3;
  min-height: 52px;
  display: flex;
  align-items: center;
}

.filters-group {
  margin-left: 30px;
  color: #fff;
}

.decade {
  border-radius: 4px;
  background: #fff1;
  margin: 8px 4px;
  padding: 4px 6px;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.decade.active {
  background: green;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #2228;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  min-width: 250px;
  max-width: 480px;
  padding: 32px 24px 24px;
  background: #444;
  font-size: 18px;
  line-height: 1.6;
  border-radius: 5px;
  box-shadow: 8px 8px 24px #2228;
}

.start-btn-wrap {
  padding-top: 24px;
  text-align: center;
}

.start-btn {
  background: green;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.player-wrap {
  background: #000;
  border-left: 4px solid #fff2;
}

.player {
  width: 100%;
}

.player-iframe {
  width: 100%;
}